@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
}

body {
  overflow-x: hidden;

}

@layer base {
  ul, ol {
    list-style: revert;
    margin: 24px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.underline {
  text-decoration-color: yellow;
  text-decoration: underline;
}